.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-color: cornflowerblue;
  color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
}